@media only screen and (max-width: 1166px){
    .arrays-container{
        
        .input-array{
            width: 30rem;
        }
    
        .output-array{
            width: 30rem;
        }
    
        .item{
            height: 5.5rem;
            width: 5.5rem;
        }
        .ghost-item{
            height: 5.5rem;
            width: 5.5rem;
        }
    }
}

@media only screen and (max-width: 1010px){
    .arrays-container{

        .input-array{
            width: 25rem;
        }
    
        .output-array{
            width: 25rem;
        }
    
        .item{
            height: 4.5rem;
            width: 4.5rem;
        }
        .ghost-item{
            height: 4.5rem;
            width: 4.5rem;
        }
    }

.type{
    font-size: 3rem;
    text-align: center;
    color: rgb(0, 0, 0);
}

    
}

@media only screen and (max-width: 845px){

    .main-container{
        height: 100vh;

        .title-container{
    
          .title{
            font-size: 4.5rem;
          }
        }
    }

    .arrays-container{

        .input-container, .output-container{
            height: 18.5rem;
        }

        .input-array{
            width: 20rem;
        }
    
        .output-array{
            height: 20rem;
            width: 20rem;
        }
    
        .item{
            height: 4rem;
            width: 4rem;
        }
        .ghost-item{
            height: 4rem;
            width: 4rem;
        }
    }

    .small-item-square{
        height: 3rem;
        width: 3rem;
    }
   
    //user inputbox, the small circles
    .small-item-circle{
        height: 3rem;
        width: 3rem;
    }

    //this holds the type of method that is active 
.type{
    font-size: 2.3rem;
    text-align: center;
    color: rgb(0, 0, 0);
}

//when a new array is created, the message displayed 
.announcement{
    position: absolute;
    bottom: 20px;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

}

@media only screen and (max-width: 685px){
    .arrays-container{
        min-height: 50vh;
        flex-wrap: wrap;

        .input-container, .output-container{
            height: 15rem;
        }

        .input-array{
            width: 35rem;
        }
    
        .output-array{
            width: 35rem;
        }
    }

    .user-selection{
        display: flex;
        justify-content: center;
        align-items: center;
    
        .user-container{
            width: 80%;
        }
    }

.type{
    font-size: 2rem;
}

//when a new array is created, the message displayed 
.announcement{
    
}
}

@media only screen and (max-width: 585px){
    .main-container{
      
        .title-container{
      
          .title{
            font-size: 3.3rem;
          }
        }
    }


    .arrays-container{
        min-height: 50vh;
        flex-wrap: wrap;

        .input-container, .output-container{
            height: 14rem;
        }

        .input-array{
            width: 25rem;
        }
    
        .output-array{
            width: 25rem;
        }
    }

    .user-selection{
        justify-content: space-between;
    
        .user-container{
            width: 80%;
        }
    
        .user-controls{
            width: 15rem;
            justify-content: center;
        } 
    }

    .small-item-square{
        height: 2.3rem;
        width: 2.3rem;
        font-size: 1.4rem;
    }
    //user inputbox, the small circles
    .small-item-circle{
        height: 2.3rem;
        width: 2.3rem;
    }

.type{
    font-size: 1.5rem;
}
//when a new array is created, the message displayed 
.button-main-container{

    .button-container{
        width: 90%;
    }
}
}


@media only screen and (max-width: 440px){
    .main-container{
      
        .title-container{
          height: 12vh;
      
          .title{
            font-size: 2.3rem;

          }
        }
    }


    .arrays-container{
        height: 35vh;
        
        .array-title{
            font-size: 1.5rem;
        }

        .input-container, .output-container{
            height: 11.5rem;
        }

        .input-array{
            width: 18.5rem;
        }
    
        .output-array{
            width: 18.5rem;
        }

        .item{
            height: 3rem;
            width: 3rem;
            font-size: 1.5rem;
        }
        .ghost-item{
            height: 3rem;
            width: 3rem;
        }
    }

    .user-selection{

        .user-container{
            height: 6.5rem;
            background-color: rgb(255, 255, 255);
            width: 90%;
        }
    }

//when a new array is created, the message displayed 
.announcement{
    bottom: 8px;
}

.output-result{
    font-size: 3rem;
}

.button-main-container{

    .button-container{
        width: 90%;
    }
}
}

@media only screen and (max-width: 375px){
    .main-container{
    
        .title-container{
      
          .title{
            font-size: 2.3rem;
          }
        }
    }

    .arrays-container{
    
        .array-title{
            font-size: 1.3rem;
        }

        .input-container, .output-container{
            height: 9rem;
        }
    
        .output-array{
            width: 18.5rem;
        }

        .item{
            height: 3rem;
            width: 3rem;
            font-size: 1.5rem;
        }
        .ghost-item{
            height: 3rem;
            width: 3rem;
        }
    }
}

@media only screen and (max-width: 310px){
    .main-container{
        .title-container{
    
          .title{
            font-size: 1.7rem;
          }
        }
    }

    .arrays-container{

        .array-title{
            font-size: 1.3rem;
        }

        .input-container, .output-container{
            height: 9rem;
        }

        .input-array{
            width: 14.5rem;
        }
    
        .output-array{
            width: 14.5rem;
        }

        .item{
            height: 3rem;
            width: 3rem;
            font-size: 1.5rem;
        }
        .ghost-item{
            height: 3rem;
            width: 3rem;
        }
    }

    .user-selection{
    
        .user-container{
            background-color: rgb(255, 255, 255);
            width: 95%;
        }
    
        .user-controls{
            background-color: rgb(255, 255, 255);
        } 
    }

    .small-item-square{
        height: 1.7rem;
        width: 1.7rem;
    }
    //user inputbox, the small circles
    .small-item-circle{
        height: 1.7rem;
        width: 1.7rem;
    }
.type{
    font-size: 1.2rem;
}

.announcement{
    font-size: 1rem;
}

.output-result{
    font-size: 2rem;
}


.fa-solid{
    font-size: 2.8rem;
}
}

//macbook pro 
@media only screen and (min-width: 900px) and (min-height: 735px) and (max-height: 900px) {
    .arrays-container{
        
        .input-container, .output-container{
            height: 15.5rem;
        }

        .input-array{
            width: 25rem;
        }
    
        .output-array{
            width: 25rem;
        }
    
        .item{
            height: 4.5rem;
            width: 4.5rem;
        }
        .ghost-item{
            height: 4.5rem;
            width: 4.5rem;
        }
    }
}

@media only screen and (min-width: 900px) and (min-height: 500px) and (max-height: 735px) {
    .arrays-container{
        
        .input-container, .output-container{
            height: 15.5rem;
        }

        .input-array{
            width: 25rem;
        }
    
        .output-array{
            width: 25rem;
        }
    
        .item{
            height: 4.5rem;
            width: 4.5rem;
        }
        .ghost-item{
            height: 4.5rem;
            width: 4.5rem;
        }
    }
    .button-main-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}