.simulator-container{
    height: 85vh;
    // background-color: rgb(255, 255, 255);
}

.arrays-container{
    height: 50vh;
    // background-color: chocolate;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .array-title{
        font-size: 2.2rem;
        font-family: 'Roboto', sans-serif;
    }

    .input-container, .output-container{
        height: 25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 20px 20px rgba(0,0,0,.1), 0 4px 4px 0 rgba(0,0,0,.1);
        border-radius: 5%;
        border: 4px inset;
    }
    
    .input-array{
        height: 20rem;
        width: 35rem;
        border-radius: 1.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    .output-array{
        height: 20rem;
        width: 35rem;
        border-radius: 1.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }

    .item{
        height: 6.5rem;
        width: 6.5rem;
        background-color: rgb(213, 211, 211);
        box-shadow: 0 20px 30px rgba(0,0,0,.1), 0 4px 4px 0 rgba(0,0,0,.1);
        border: 4px inset;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
    .ghost-item{
        height: 6.5rem;
        width: 6.5rem;
        opacity: .5;
        background-color: rgb(44, 181, 181);
        box-shadow: 0 20px 30px rgba(0,0,0,.1), 0 4px 4px 0 rgba(0,0,0,.1);
    }
    .ghost-item.circle{
        background-color: rgb(181, 44, 44);
    }
    .temp-container{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .box-1{
        // background-color: rgb(151, 44, 181);
    }
    .box-2{
        background-color: rgb(213, 211, 211);
    }
    .box-3{
        // background-color: rgb(181, 103, 44);
    }
    .box-4{
        // background-color: rgb(44, 99, 181);
    }
    .circle{
        border-radius: 50%;
        
    }

}

.user-selection{
    height: 35vh;
    // background-color: darkgreen;

    .user-container{
        height: 15vh;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 4px inset;
    }

    .user-controls{
        height: 100%;
        width: 35rem;
        // background-color: rgb(215, 215, 215);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        // border: 4px outset;
    }

    .button-container{
        
    }
}

.fa-solid{
    font-size: 4rem;
    cursor: pointer;
}

.test{
    display:flex;
    justify-content: center;
    align-items: center;
}

.type{
    font-size: 4rem;
    text-align: center;
    color: rgb(0, 0, 0);
}
.small-item-square{
    display: inline-block;
    height: 4rem;
    width: 4rem;
    background-color: rgb(212, 214, 255);
    box-shadow: 0 20px 30px rgba(0,0,0,.1), 0 4px 4px 0 rgba(0,0,0,.1);
    border: 2px inset;
    font-size: 2rem;
    text-align: center;
    position: relative;
    p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.small-item-circle{
    display: inline-block;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: rgb(212, 214, 255);
    box-shadow: 0 20px 30px rgba(0,0,0,.1), 0 4px 4px 0 rgba(0,0,0,.1);
    border: 2px inset;
}

.red{
    background-color: rgb(239, 110, 110) !important;
}
.announcement{
    position: absolute;
    bottom: 20px;
    font-size: 1.9rem;
    color: rgb(0, 0, 0);
}
