* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: 0rem;
}

body {
  font-size: 62.5%;
}

.main-container {
  height: 100vh;
  background-Color: rgb(159, 165, 185);
}
.main-container .title-container {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container .title-container .title {
  font-size: 4.5rem;
  font-family: "Dancing Script", cursive;
}

.simulator-container {
  height: 85vh;
}

.arrays-container {
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.arrays-container .array-title {
  font-size: 2.2rem;
  font-family: "Roboto", sans-serif;
}
.arrays-container .input-container, .arrays-container .output-container {
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20%;
  border: 4px inset;
}
.arrays-container .input-array {
  height: 20rem;
  width: 35rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.arrays-container .output-array {
  height: 20rem;
  width: 35rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.arrays-container .item {
  height: 6.5rem;
  width: 6.5rem;
  background-color: rgb(44, 181, 181);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border: 4px inset;
}
.arrays-container .ghost-item {
  height: 6.5rem;
  width: 6.5rem;
  opacity: 0.5;
  background-color: rgb(44, 181, 181);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.arrays-container .temp-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.arrays-container .box-1 {
  background-color: rgb(151, 44, 181);
}
.arrays-container .box-2 {
  background-color: rgb(44, 181, 181);
}
.arrays-container .box-3 {
  background-color: rgb(181, 103, 44);
}
.arrays-container .box-4 {
  background-color: rgb(44, 99, 181);
}
.arrays-container .circle {
  border-radius: 50%;
}

.user-selection {
  height: 35vh;
}
.user-selection .user-container {
  height: 15vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 4px inset;
}
.user-selection .user-controls {
  height: 100%;
  width: 35rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.fa-solid {
  font-size: 4rem;
  cursor: pointer;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
}

.type {
  font-size: 4rem;
  text-align: center;
  color: rgb(0, 0, 0);
}

.small-item-square {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  background-color: rgb(212, 214, 255);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border: 2px inset;
}

.small-item-circle {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: rgb(212, 214, 255);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border: 2px inset;
}/*# sourceMappingURL=style.css.map */