*{
    padding: 0rem;
    margin: 0rem;
    box-sizing: 0rem;
  }
  
  body{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
  }
  .main-container{
    min-height: 100vh;
    // background-Color: lightslategrey;
    background-Color: rgb(159, 165, 185);
  
    .title-container{
      min-height: 15vh;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .title{
        font-size: 5.5rem;
        font-family: 'Dancing Script', cursive, sans-serif;
      }
    }
  }

  button{
    all: unset;
    border: .1rem outset rgb(252, 252, 252);
    background-color: rgb(243, 241, 241);
    border-radius: 1rem;
    padding: .8rem 1.5rem;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0,0,0,.1), 0 4px 4px 0 rgba(0,0,0,.1);
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: black !important;
  }
  
  @import 'simulator';
  @import 'mobile';